body {
  font-family: 'Avenir';
  background: var(--main-background);
}

h1 {
  color: var(--main-blue)
}

p {
  font-size: 18px;
}

table {
  border-collapse: collapse;
}

th,
td {
  border-collapse: collapse;
  padding: 5px;
  padding-left: 10px;
  white-space: nowrap;
}

.bullet {
  color: var(--main-aqua)
}

.logo-header {
  padding: 40px;
  background: rgb(7, 132, 192);
  background: linear-gradient(119deg, rgba(7, 132, 192, 1) 6%, rgba(38, 197, 193, 1) 53%, rgba(114, 233, 130, 1) 88%);
}

.title-card {
  background: var(--main-blue);
  border: none;
  border-radius: 24px;
  min-height: 250px;
}

.br-lg {
  display: block;
  margin-bottom: 1em;
}

.tab-1 {
  display: inline-block;
  width: 20px;
}

.term {
  color: var(--main-aqua);
  font-weight: bold;
  font-style: italic;
}

.math-color {
  color: var(--main-blue);
}

a,
a:hover,
a:focus {
  text-decoration: none;
  transition: all 0.3s;
}

.fsm-state {
  fill: var(--main-light-green);
  stroke-width: 2;
  stroke: black;
}

.fsm-container:hover>.fsm-state {
  fill: var(--main-lime);
  stroke-width: 3;
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.question {
  font-size: 20px;
  color: var(--main-blue);
}

.answers {
  margin-bottom: 20px;
}

.answers label {
  display: block;
}

/* Customize the label (the container) */
.box-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 6px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.box-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 3px;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.box-container:hover input~.checkmark {
  background-color: var(--main-lime);
}

/* When the radio button is checked, add a blue background */
.box-container input:checked~.checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.box-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.box-container input:checked~.checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.box-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.tutorial-gif {
  border-color: var(--main-aqua);
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}


/* FAB */

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle i {
  position: relative;
  top: -1px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 0.9rem;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

.btn-circle-xl {
  width: 70px;
  height: 70px;
  line-height: 70px;
  font-size: 1.3rem;
}