{% extends 'base.html' %} {% block head %}
<title>Stateful | Lesson 2.1</title>
<style>
    table {
        border-collapse: collapse;
    }

    th,
    td {
        border-collapse: collapse;
        padding: 5px;
        padding-left: 10px;
        white-space: nowrap;
    }
</style>
{% endblock %} {% block body %}
<!-- Page Content -->
<div id="content">

    <div class='container' style='max-width: 800px;'>

        <h1 style="color: var(--main-blue); text-align: center">Lesson 2: Notation and Formal Definitions</h1>
        <br>
        <div class='row'>
            <div class='col-sm-auto'>
                <h2 style='color: var(--main-green); padding-bottom: 10px'>2.1</h2>
            </div>
            <div class='col'>
                <h2 style='color: var(--main-green); padding-bottom: 10px'>
                    Formal Definition of a DFA
                </h2>
            </div>
            <div class='col-sm-auto'>
                <a style='width: 90px' type='button' type="button" href="/lesson/1.3" class="btn btn-secondary">
                    <i class="fas fa-arrow-circle-left"></i> Prev
                </a>
                <a style='width: 90px' type='button' type="button" href="/lesson/2.2" class="btn btn-secondary">Next
                    <i class="fas fa-arrow-circle-right"></i>
                </a>
                <br><br>
            </div>
        </div>
        <p>
            In the last lesson, we informally introduced the concepts of DFAs and NFAs, and we used state diagrams to
            represent them. While informal definitions are great for gaining an intuition about how finite state
            machines work, formal definitions are used most often in both computer science theory and applications.
            There are several reasons why having a formal definition is important, but here are a few of them:
        </p>
        <ol>
            <li>A formal definition is precise. If you were unsure about what is allowed or not allowed in a
                DFA/NFA, the formal definition will provide all of the information you need.</li>
            <li>A formal definition provides clear notation. You can easily express the machine you are trying to
                build if you use good notation.</li>
        </ol>
        <p>
            What would you consider to be the defining features of a DFA? In this section, we will be formally defining
            DFAs and each of their features.
        </p>
        <h3 style='color:var(--main-green); padding-top:18px'>States</h3>
        <p>
            Let’s start with the DFA’s states. We formally define the set of states of a DFA using the symbol <span
                class="math-color">\( Q \)</span>. Generally in mathematics, a <span class='
                term'>set</span> is a collection of distinct objects, which we call the <span class='
                term'>elements</span> or <span class='term'>members</span> of the set. The elements of the set <span
                class="math-color">\( Q \)</span> are the states of a given DFA. As an example, recall the DFA <span
                class="math-color">\( M_1 \)</span> that we studied in the last lesson.
        </p>
        <div style='text-align:center'>
            <div style='width: 500px; margin:0 auto;'>
                <text style='color: var(--main-aqua)'>Figure 1.5:</text>
                <text>The deterministic finite automaton <span class="math-color">\( M_1 \)</span>.</text>
                <br>
            </div>
            <img src="{{ url_for('static', filename='assets/figure1-5.svg') }}" alt="Figure 1.5">
        </div>
        <p>
            Normally, sets are described formally by listing their elements in braces. So, we can write <span
                class="math-color">$$ Q = \{ q_1, q_2, q_3\} $$</span> to denote the set <span class="math-color">\(
                Q \)</span> containing the states of the DFA <span class="math-color">\( M_1 \)</span>.
        </p>

        <h3 style='color:var(--main-green); padding-top:18px'>Alphabet</h3>
        <p>
            Another inherent feature of DFAs is the set of input symbols they take in. For instance, you probably
            noticed that <span class="math-color">\( M_1 \)</span> only has <span class="math-color">\( 1
                \)</span>’s and <span class="math-color">\( 0 \)</span>’s as labels on transitions. You couldn’t
            give it a string containing <span class="math-color">\( 2 \)</span>’s or <span class="math-color">\( 3
                \)</span>’s, or English letters. That would be like giving a decimal integer or a string to a Java
            program that takes a binary integer as a command-line argument. The part of the DFA that enforces this
            restriction is its <span class='term'>alphabet</span>. The alphabet of <span class="math-color">\( M_1
                \)</span> only allows <span class="math-color">\( 1 \)</span>’s and <span class="math-color">\( 0
                \)</span>’s as input symbols. We denote the alphabet of a DFA by the set <span class="math-color">\(
                \Sigma \)</span>, whose elements are the valid input symbols of the DFA. The alphabet of <span
                class="math-color">\( M_1 \)</span> is <span class="math-color">\( \Sigma = \{ 0, 1 \} \)</span>.
        </p>
        <h3 style='color:var(--main-green); padding-top:18px'>Transition Function</h3>
        <p>
            The <span class=“term”>transition function</span> of a DFA, often denoted by the symbol <span
                class="math-color">\( \delta \)</span>, specifies exactly how the DFA moves from state to state. When we
            first looked at DFAs, there were two things we considered when determining how the machine would transition
            between states. First, we had to know the current state of the DFA. Let’s say this state is state <span
                class="math-color">\( x \)</span>. Second, we had to know the input symbol being read. Let’s say that
            symbol is <span class="math-color">\( 1 \)</span>. If the DFA’s state diagram had an arrow pointing from
            state <span class="math-color">\( x \)</span> to state <span class="math-color">\( y \)</span> labeled with
            a <span class="math-color">\( 1 \)</span>, we knew that the next state to go to was <span
                class="math-color">\( y \)</span>. We can think of the way a DFA transitions between states as a
            function whose first parameter is a state, or an element of <span class="math-color">\( Q \)</span>, and
            whose second parameter is an input symbol, or an element of <span class="math-color">\( \Sigma \)</span>.
            The output of the function is another state, or another element of <span class="math-color">\( Q \)</span>.
            We denote this using the following function notation:

            <span class="math-color">$$ \delta : Q \times \Sigma \rightarrow Q $$</span>

            This notation says that <span class="math-color">\( \delta \)</span> is a function whose domain is <span
                class="math-color">\( Q \times \Sigma \)</span>, and whose range is <span class="math-color">\( Q
                \)</span>. Generally, <span class="math-color">\( A \times B \)</span> is known as the <span
                class="term">Cartesian product</span> of the sets <span class="math-color">\( A \)</span>
            and <span class="math-color">\( B \)</span>, or the set of all ordered pairs where the first element is a
            member of <span class="math-color">\( A \)</span>
            and the second element is a member of <span class="math-color">\( B \)</span>. In the example above, since
            <span class="math-color">\( x \)</span> transitions to state <span class="math-color">\( y \)</span> on
            input <span class="math-color">\( 1 \)</span>, we write <span class="math-color">\( \delta(x, 1) = y
                \)</span>. Let’s construct the transition function for <span class="math-color">\( M_1 \)</span>, which
            we will call <span class="math-color">\( \delta \)</span>.
        </p>
        <p>
            Below is the Cartesian product of <span class="math-color">\( Q \)</span> and <span class="math-color">\(
                \Sigma \)</span>.
            <span class="math-color">$$ Q \times \Sigma = \{(q_1, 0), (q_1, 1), (q_2, 0), (q_2, 1), (q_3, 0), (q_3,
                1)\} $$</span>
        </p>
        <p>
            The elements of the Cartesian product above specify the possible inputs to the transition function. We write
            out the function as follows:
            <table style="text-align:center; margin-left:auto; margin-right:auto; font-size: 18px">
                <tr>
                    <td>
                        <span class="math-color">
                            $$\delta(q_1, 0) = q_1$$
                            $$\delta(q_1, 1) = q_2$$
                            $$\delta(q_2, 0) = q_3$$
                        </span>
                    </td>
                    <td>
                        <span class="math-color">
                            $$\delta(q_2, 1) = q_2$$
                            $$\delta(q_3, 0) = q_2$$
                            $$\delta(q_3, 1) = q_2$$
                        </span>
                    </td>
                </tr>
            </table>
        </p>
        <p>
            Functions that take ordered pairs as input are often expressed using two-dimensional tables. For the
            transition function of a DFA, each row corresponds to a state, and each column corresponds to an input
            symbol. Below is <span class="math-color">\( \delta \)</span> for <span class="math-color">\( M_1 \)</span>
            expressed as a table:
            <table style="text-align:center; margin-left:auto; margin-right:auto; font-size: 18px">
                <tr style="border-bottom: 1px solid black;">
                    <td><span class="math-color">\( \delta \)</span></td>
                    <td style="border-left: 1px solid black;"><span class="math-color">\( 0 \)</span></td>
                    <td><span class="math-color">\( 1 \)</span></td>
                </tr>
                <tr>
                    <td><span class="math-color">\( q_1 \)</span></td>
                    <td style="border-left: 1px solid black;"><span class="math-color">\( q_1 \)</span></td>
                    <td><span class="math-color">\( q_2 \)</span></td>
                </tr>
                <tr>
                    <td><span class="math-color">\( q_2 \)</span></td>
                    <td style="border-left: 1px solid black;"><span class="math-color">\( q_3 \)</span></td>
                    <td><span class="math-color">\( q_2 \)</span></td>
                </tr>
                <tr>
                    <td><span class="math-color">\( q_3 \)</span></td>
                    <td style="border-left: 1px solid black;"><span class="math-color">\( q_2 \)</span></td>
                    <td><span class="math-color">\( q_2 \)</span></td>
                </tr>
            </table>
        </p>
        <p>
            The transition function describes a very important property of DFAs: a DFA must have exactly one transition
            exiting every state for each possible input symbol, since there is exactly one next state for each possible
            combination of a state and an input symbol.
        </p>
        <h3 style='color:var(--main-green); padding-top:18px'>Start State and Accept States</h3>
        <p>
            The <span class='term'>start state</span> of a DFA is a member of its set of states. The symbol '<span
                class="math-color">\( \in \)</span>' denotes membership within a set. So for the DFA <span
                class="math-color">\( M_1 \)</span>, <span class="math-color">\( q_1 \in Q \)</span> is its start
            state.
        </p>
        <p>
            Finally, a DFA has a set of <span class="term">accept states</span>, or final states, which we denote with
            the symbol <span class="math-color">\( F \)</span>. The set of accept states of a DFA is a <span
                class="term">subset</span> of its set of states, written as <span class="math-color">\( F \subseteq Q
                \)</span>. In other words, all of the elements of the set of final states must also be elements of the
            set of states. Note that <span class="math-color">\( F \)</span> does not need to be a <em>proper</em>
            subset of <span class="math-color">\( Q \)</span>, since <span class="math-color">\( F \)</span> may be
            equal to <span class="math-color">\( Q \)</span>.
        </p>
        <p>
            The <span class='term'>empty set</span>, the set with no elements represented by the symbol <span
                class="math-color">\( \emptyset \)</span>, is a subset of every set. From the formal definition of the
            set of accept states, <span class="math-color">\( F \)</span> is allowed to be the empty set. So, it is
            perfectly valid for a DFA to have no accept states. For the DFA <span class="math-color">\( M_1, \)</span>
            <span class="math-color">\( F = \{ q_2 \} \)</span>.
        </p>
        <h3 style='color:var(--main-green); padding-top:18px'>Putting the Pieces Together</h3>
        <p>
            We have learned about the five parts that make up a DFA: a set of states, an input alphabet, a transition
            function specifying the rules for moving, a start state, and accept states. In mathematical language, an
            ordered list of five elements is often called a 5-tuple. We define a finite automaton to be a 5-tuple
            consisting of these five parts.
        </p>
        <p style='font-size: 20px'>
            Formally, a deterministic finite automaton is a 5-tuple <span class="math-color">\( (Q, Σ, \delta, q_0, F )
                \)</span>,
            where
            <ol style='font-size: 20px'>
                <li> <span class="math-color">\( Q \)</span> is a finite set called the states, </li>
                <li> <span class="math-color">\( \Sigma \)</span> is a finite set called the alphabet, </li>
                <li> <span class="math-color">\( \delta : Q \times \Sigma \rightarrow Q \)</span> is the transition
                    function, </li>
                <li> <span class="math-color">\( q_0 \in Q \)</span> is the start state, and </li>
                <li> <span class="math-color">\( F \subseteq Q \)</span> is the set of accept states. </li>
            </ol>
        </p>
        <p>
            We can describe <span class="math-color">\( M_1 \)</span> formally by writing <span class="math-color">\(
                M_1 = (Q, \Sigma, \delta, q_1, F) \)</span>, where
            <ol style='font-size: 18px'>
                <li> <span class="math-color">\( Q = \{ q_1, q_2, q_3 \} \)</span>, </li>
                <li> <span class="math-color">\( \Sigma = \{ 0, 1 \} \)</span>, </li>
                <li> <span class="math-color">\( \delta \)</span> is described as </li>
                <table style="text-align:center; margin-left:auto; margin-right:auto; ">
                    <tr style="border-bottom: 1px solid black;">
                        <td><span class="math-color">\( \delta \)</span></td>
                        <td style="border-left: 1px solid black;"><span class="math-color">\( 0 \)</span></td>
                        <td><span class="math-color">\( 1 \)</span></td>
                    </tr>
                    <tr>
                        <td><span class="math-color">\( q_1 \)</span></td>
                        <td style="border-left: 1px solid black;"><span class="math-color">\( q_1 \)</span></td>
                        <td><span class="math-color">\( q_2 \)</span></td>
                    </tr>
                    <tr>
                        <td><span class="math-color">\( q_2 \)</span></td>
                        <td style="border-left: 1px solid black;"><span class="math-color">\( q_3 \)</span></td>
                        <td><span class="math-color">\( q_2 \)</span></td>
                    </tr>
                    <tr>
                        <td><span class="math-color">\( q_3 \)</span></td>
                        <td style="border-left: 1px solid black;"><span class="math-color">\( q_2 \)</span></td>
                        <td><span class="math-color">\( q_2 \)</span></td>
                    </tr>
                </table>
                <li> <span class="math-color">\( q_1 \)</span> is the start state, and </li>
                <li> <span class="math-color">\( F = \{ q_2 \} \)</span>. </li>
            </ol>
        </p>
        <br>
        <h3 style='text-align: center; color: var(--main-aqua)'>Mini Quiz</h4>
            <p style='text-align: center;'>The questions below refer to the DFA
                <span class="math-color">\( M_2 \)</span>.
            </p>
            <div style='text-align:center'>
                <div style='width: 500px; margin:0 auto;'>
                    <text style='color: var(--main-aqua)'>Figure 2.1:</text>
                    <text>The deterministic finite automaton <span class="math-color">\( M_2 \)</span>.</text>
                    <br>
                </div>
                <img src="{{ url_for('static', filename='assets/figure2-1.svg') }}" alt="Figure 2.1">
            </div>
            <p style='text-align: center;'>Below are some set-theory terms with examples that will appear in the quiz:
                <br>
                The symbol '<span class="math-color">\( \setminus \)</span>' means 'set difference'. If <span
                    class="math-color">\( A = \{1,2,3\} \)</span> and <span class="math-color">\( B = \{1,3\} \)</span>,
                then <span class="math-color">\( A \setminus B = \{ 2 \} \)</span>. <br>
                The symbol '<span class="math-color">\( \forall \)</span>' means 'for all'. <span class="math-color">\(
                    \forall x \in \{1, 2, 3\}, x > 0 \)</span> is a true statement.
            </p>
            <div id="quiz"></div>
            <div class='row'>
                <div class='col'>
                    <button type='button' type="button" class="btn btn-primary" id="submit">Submit Quiz</button>
                </div>
                <div class='col-sm-auto'>
                    <a style='width: 90px' type='button' type="button" href="/lesson/1.3" class="btn btn-secondary">
                        <i class="fas fa-arrow-circle-left"></i> Prev
                    </a>
                    <a style='width: 90px' type='button' type="button" href="/lesson/2.2" class="btn btn-secondary">Next
                        <i class="fas fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class='br-lg'></div>
            <div id="results"></div>

            <script type='text/javascript'>
                const myQuestions = [{
                    question: "Which of the following is NOT true about \\( M_2 \\)?",
                    answers: {
                        a: "\\( \\delta (s,a) = q_1 \\)",
                        b: "\\( \\delta (q_2, b) = q_2 \\)",
                        c: "\\( \\delta (q_1,a) = s \\)",
                        d: "\\( r_2 \\notin F \\)",
                        e: "\\( \\delta (r_1, a) = \\delta(r_2, a) \\)"
                    },
                    correctAnswer: "c"
                }, {
                    question: "Which of the following is true about \\( M_2 \\)?",
                    answers: {
                        a: "\\( s \\in F \\)",
                        b: "\\( \\forall x \\in \\Sigma, \\delta (r_1, x) = r_2 \\)",
                        c: "\\( r_1 \\notin F \\)",
                        d: "\\( F = Q \\setminus \\{ s, q_2, r_2\\} \\)"
                    },
                    correctAnswer: "d"
                }];
            </script>
            <script src="{{ url_for('static', filename='js/mini-quiz.js') }}"></script>

    </div>
    {% endblock %}