{% extends 'base.html' %} {% block head %}
<title>Stateful | Lesson 1.1</title>
{% endblock %} {% block body %}
<!-- Page Content -->
<div id="content">

    <div class='container' style='max-width: 800px;'>

        <h1 style="color: var(--main-blue); text-align: center">Lesson 1: Deterministic Finite Automata</h1>
        <br>
        <h2 style='color: var(--main-green); padding-bottom: 10px'>1.1<span class="tab-1"></span>
            Introduction to Finite Automata</h2>
        <p>
            In this section, we will be studying a simple but ubiquitous model of computation—the finite state machine,
            or finite automaton. We can define finite automata in terms of their internal
            <span class='term'>states</span> and their
            <span class='term'>transitions</span> between those states upon taking in some input.
        </p>
        <p>
            To get an intuition for how a finite automaton works, consider a simple light
            switch in your home. How would you describe the mechanism of a light bulb connected to a switch? Ignoring
            any details related to physics,
            you might be thinking that there are two states the switch could possibly be in: 'ON' or 'OFF'.
        </p>
        <div style='text-align:center'>
            <div style='width: 500px; margin:0 auto;'>
                <text style='color: var(--main-aqua)'>Figure 1.1:</text>
                <text>The two states of a finite state machine representing a light switch.</text>
                <br>
            </div>
            <svg width="300" height="160" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <ellipse class='fsm-state' stroke="black" stroke-width="2" fill="none" cx="74.5" cy="78.5" rx="30"
                    ry="30" />
                <text x="54.5" y="84.5" font-family="Avenir Next" font-size="20">OFF</text>
                <ellipse class='fsm-state' stroke="black" stroke-width="2" fill="none" cx="205.5" cy="78.5" rx="30"
                    ry="30" />
                <text x="189.5" y="84.5" font-family="Avenir Next" font-size="20">ON</text>
            </svg>
        </div>
        <p>
            In the above figure, each circle represents a state of the machine. Now, in order to transition from one
            state to another, the machine needs to take in some input. What sort of input does a light switch take in?
            We'll call the input to the switch 'PRESS'
            since we press a button to turn the switch on or off. If the switch is off, it turns on after being pressed,
            but it if it is on, it turns off after being pressed. We draw arrows with labels to represent the
            transitions between states:
        </p>
        <div style='text-align:center'>
            <div style='width: 500px; margin:0 auto;'>
                <text style='color: var(--main-aqua)'>Figure 1.2:</text>
                <text>The transitions between the 'ON' and 'OFF' states of a light switch.</text>
                <br>
            </div>
            <svg width="300" height="180" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <ellipse class='fsm-state' stroke="black" stroke-width="2" fill="none" cx="74.5" cy="91.5" rx="30"
                    ry="30" />
                <text x="54.5" y="97.5" font-family="Avenir Next" font-size="20">OFF</text>
                <ellipse class='fsm-state' stroke="black" stroke-width="2" fill="none" cx="205.5" cy="91.5" rx="30"
                    ry="30" />
                <text x="189.5" y="97.5" font-family="Avenir Next" font-size="20">ON</text>
                <path stroke="black" stroke-width="2" fill="none"
                    d="M 92.014,67.412 A 71.72,71.72 0 0 1 187.986,67.412" />
                <polygon fill="black" stroke-width="2" points="187.986,67.412 185.386,58.344 178.695,65.776" />
                <text x="111.5" y="39.5" font-family="Avenir Next" font-size="20">PRESS</text>
                <path stroke="black" stroke-width="2" fill="none"
                    d="M 186.389,114.361 A 74.425,74.425 0 0 1 93.611,114.361" />
                <polygon fill="black" stroke-width="2" points="93.611,114.361 96.751,123.257 102.984,115.438" />
                <text x="111.5" y="151.5" font-family="Avenir Next" font-size="20">PRESS</text>
            </svg>
        </div>

        <p>Finally, we need some way to indicate the start state of the machine. When the light fixture is first
            created, before it has been used by anyone, it is off by default. So, 'OFF' is the start state of the
            machine. We indicate this on our diagram
            by drawing an arrow that points to the start state coming from nowhere:</p>

        <div style='text-align: center;'>
            <div style='width: 500px; margin:0 auto;'>
                <text style='color: var(--main-aqua)'>Figure 1.3:</text>
                <text>The finite state machine for a light switch, with an arrow indicating that 'OFF' is the start
                    state.</text>
                <br>
            </div>
            <svg width="300" height="180" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <ellipse class='fsm-state' stroke="black" stroke-width="2" fill="none" cx="74.5" cy="91.5" rx="30"
                    ry="30" />
                <text x="54.5" y="97.5" font-family="Avenir Next" font-size="20">OFF</text>
                <ellipse class='fsm-state' stroke="black" stroke-width="2" fill="none" cx="205.5" cy="91.5" rx="30"
                    ry="30" />
                <text x="189.5" y="97.5" font-family="Avenir Next" font-size="20">ON</text>
                <path stroke="black" stroke-width="2" fill="none"
                    d="M 92.014,67.412 A 71.72,71.72 0 0 1 187.986,67.412" />
                <polygon fill="black" stroke-width="2" points="187.986,67.412 185.386,58.344 178.695,65.776" />
                <text x="111.5" y="39.5" font-family="Avenir Next" font-size="20">PRESS</text>
                <path stroke="black" stroke-width="2" fill="none"
                    d="M 186.389,114.361 A 74.425,74.425 0 0 1 93.611,114.361" />
                <polygon fill="black" stroke-width="2" points="93.611,114.361 96.751,123.257 102.984,115.438" />
                <text x="111.5" y="151.5" font-family="Avenir Next" font-size="20">PRESS</text>
                <polygon stroke="black" stroke-width="2" points="3.5,91.5 44.5,91.5" />
                <polygon fill="black" stroke-width="2" points="44.5,91.5 36.5,86.5 36.5,96.5" />
            </svg>

        </div>
        <p>
            What's notable about finite state machines is how little memory they need to retain. In order for a light
            switch to work, all the machine needs to know is its current state. It obviously doesn't need to know how
            many times its button has been pressed,
            or any other kind of information. Essentially, once the machine has seen an input, that input can be thrown
            away! It doesn't need to be stored in order for the machine to continue running. This is why these are
            called finite state machines.
            They have a number of states and store no additional input, so they have a finite, unchanging amount of
            memory.
        </p>
        <p>
            These machines may seem very primitive, but the truth is that we interact with computers like these all the
            time. One more example is a one-way automatic door in a mall or a supermarket entrance. An automatic door,
            like a switch, has two states, but this time they indicate whether the door is 'OPEN' or 'CLOSED'. An
            automatic door has two pressure-sensitive pads that feed input to the internal mechanism of the door. One
            pad is in front of the door, and the other is behind the door. The purpose of the front pad is to detect if
            someone is approaching the door, so that it can open for the person to walk through. The purpose of the back
            pad is to ensure that the door stays open long enough for person to walk all the way through, and to ensure
            that no one standing behind the door is struck as it opens.
        </p>
        <p>
            We can express these input conditions to the
            machine using four transitions: 'FRONT', meaning that there is pressure on the front pad; 'BACK' meaning
            there is pressure on the back pad; 'BOTH', meaning that there is pressure on both pads; and 'NEITHER',
            meaning that there is pressure on neither pad. Below is a <span class='term'>state diagram</span> for an
            automatic door mechanism.
        </p>
        <div style='text-align: center;'>
            <div style='width: 500px; margin:0 auto;'>
                <text style='color: var(--main-aqua)'>Figure 1.4:</text>
                <text>The finite state machine for an automatic door, from <i>Introduction to the Theory of
                        Computation</i> by Sipser.</text>
                <br>
            </div>
            <br>
            <svg width="412" height="230" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <ellipse class='fsm-state' stroke="black" stroke-width="2" fill="none" cx="110.5" cy="103.5" rx="35"
                    ry="35" />
                <text x="80.0" y="109.5" font-family="Avenir Next" font-size="20">closed</text>
                <ellipse class='fsm-state' stroke="black" stroke-width="2" fill="none" cx="308.5" cy="103.5" rx="35"
                    ry="35" />
                <text x="284.0" y="109.5" font-family="Avenir Next" font-size="20">open</text>
                <polygon stroke="black" stroke-width="2" points="27.5,103.5 75.5,103.5" />
                <polygon fill="black" stroke-width="2" points="75.5,103.5 67.5,98.5 67.5,108.5" />
                <path stroke="black" stroke-width="2" fill="none"
                    d="M 141.274,86.948 A 177.381,177.381 0 0 1 277.726,86.948" />
                <polygon fill="black" stroke-width="2" points="277.726,86.948 272.264,79.256 268.418,88.487" />
                <text x="176.5" y="64.5" font-family="Avenir Next" font-size="20">FRONT</text>
                <path stroke="black" stroke-width="2" fill="none"
                    d="M 95.071,72.237 A 26.25,26.25 0 1 1 125.929,72.237" />
                <text x="2.5" y="15.5" font-family="Avenir Next" font-size="20">BACK, BOTH, NEITHER</text>
                <polygon fill="black" stroke-width="2" points="125.929,72.237 134.677,68.703 126.587,62.826" />
                <path stroke="black" stroke-width="2" fill="none"
                    d="M 275.313,114.537 A 261.725,261.725 0 0 1 143.687,114.537" />
                <polygon fill="black" stroke-width="2" points="143.687,114.537 150.173,121.388 152.687,111.709" />
                <text x="166.5" y="143.5" font-family="Avenir Next" font-size="20">NEITHER</text>
                <path stroke="black" stroke-width="2" fill="none"
                    d="M 323.929,134.763 A 26.25,26.25 0 1 1 293.071,134.763" />
                <text x="211.5" y="203.5" font-family="Avenir Next" font-size="20">FRONT, BACK, BOTH</text>
                <polygon fill="black" stroke-width="2" points="293.071,134.763 284.323,138.297 292.413,144.174" />
            </svg>
        </div>
        <p>
            If the door is closed, and there is pressure on the back pad, both pads, or neither of the pads,
            the door stays closed. This is represented by the arrow pointing from the 'CLOSED' state to itself. But, if
            someone only steps on the front pad, the door will open. When in the 'OPEN' state, it will always stay in
            the open state, until there is pressure on neither of the pads. In that case, it returns to the 'CLOSED'
            state.
        </p>
        <br>
        <h3 style='text-align: center; color: var(--main-aqua)'>Mini Quiz</h4>
            <div id="quiz"></div>
            <button type='button' type="button" class="btn btn-primary" id="submit">Submit Quiz</button>
            <br>
            <div class='br-lg'></div>
            <div id="results"></div>

    </div>

    <script type='text/javascript'>
        const myQuestions = [{
                question: "After being pressed 5 times, in what state is the FSM for the light switch?",
                answers: {
                    a: "OFF",
                    b: "ON"
                },
                correctAnswer: "b"
            },
            {
                question: "Say that the FSM for the automatic door receives the following sequence of inputs: FRONT, BACK, NEITHER, FRONT, BOTH, NEITHER, REAR, and NEITHER. What state does the machine end up in?",
                answers: {
                    a: "CLOSED",
                    b: "OPEN",
                },
                correctAnswer: "a"
            }
        ];
    </script>
    <script src="{{ url_for('static', filename='js/mini-quiz.js') }}"></script>

</div>
{% endblock %}