<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="infoModalLabel">How to use the FSM Editor</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>The big white box is the FSM Editor. This is how you draw FSMs when answering questions.
                    Here's how to use it:</p>
                <ul>
                    <li><b class='term'>Add a state:</b> double-click on the editor</li>
                    <li><b class='term'>Add a transition:</b> shift-drag on the editor</li>
                    <li><b class='term'>Move something:</b> drag it around</li>
                    <li><b class='term'>Delete something:</b> click it and press the delete key (not the backspace key -
                        on Mac,
                        this is fn + delete)</li>
                </ul>
                <ul>
                    <li><b class='term'>Make accept state:</b> double-click on an existing state</li>
                    <li><b class='term'>Type numeric subscript:</b> put an underscore before the number (like "S_0")
                    </li>
                    <li><b class='term'>Type greek letter:</b> put a backslash before it (like "\beta")</li>
                </ul>
                <p>For a more detailed explanation with demonstrations, view the <a href='/tutorial'>FSM Editor
                        Tutorial</a>.</p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>