{% extends 'base.html' %} {% block head %}
<title>Stateful | Home</title>
{% endblock %} {% block body %}
<!-- Page Content -->
<div style="text-align: center; padding: 0px">

	<div class='logo-header'>
		<h1 class="display-2" style="font-weight: 500; color: white">
			Stateful<img src="{{ url_for('static', filename='assets/logo.svg') }}" alt="Figure 1.1">
		</h1>
	</div>
	<h5 style='padding-top: 20px; font-weight: 500'>
		An online tutor for learning about finite state machines and regular languages.
	</h5>
	<br>
	<div class='container'>
		<div class='row'>
			<div class='col'>
				<div class='card title-card'>
					<div class='card-body'>
						<h4 class='card-title' style='color:white'>Lesson 1: Introduction to Finite Automata</h4>
						<a class='btn btn-light' type='button' href='/lesson/1.1' style='margin-bottom: 10px'>
							<span style='color: var(--main-green); font-weight: 600; font-size: 16px'>1.1 Some Practical
								Examples</span>
						</a><br>
						<a class='btn btn-light' type='button' href='/lesson/1.2' style=' margin-bottom: 10px'>
							<span style='color: var(--main-green); font-weight: 600; font-size: 16px'>1.2 Deterministic
								Finite
								Automata</span>
						</a><br>
						<a class='btn btn-light' type='button' href='/lesson/1.3' style='margin-bottom: 10px'>
							<span style='color: var(--main-green); font-weight: 600; font-size: 16px'>1.3
								Nondeterministic
								Finite Automata</span>
						</a>
					</div>
				</div>
			</div>
			<div class='col'>
				<div class='card title-card'>
					<div class='card-body'>
						<h4 class='card-title' style='color:white'>Lesson 2: Notation and Formal Definitions</h4>
						<a class='btn btn-light' type='button' href='/lesson/1.1' style='margin-bottom: 10px'>
							<span style='color: var(--main-green); font-weight: 600; font-size: 16px'>2.1
								Formal Definition of a DFA</span>
						</a><br>
						<a class='btn btn-light' type='button' href='/lesson/1.2' style=' margin-bottom: 10px'>
							<span style='color: var(--main-green); font-weight: 600; font-size: 16px'>2.2
								Formal Definition of an NFA</span>
						</a><br>
						<a class='btn btn-light' type='button' href='/lesson/1.3' style='margin-bottom: 10px'>
							<span style='color: var(--main-green); font-weight: 600; font-size: 16px'>2.3
								Strings and Languages</span>
						</a>
					</div>
				</div>
			</div>
			<div class='col'>
				<div class='card title-card'>
					<div class='card-body'>
						<h4 class='card-title' style='color:white'>Lesson 1: Introduction to Finite Automata</h4>
						<a class='btn btn-light' type='button' href='/lesson/1.1' style='margin-bottom: 10px'>
							<span style='color: var(--main-green); font-weight: 600; font-size: 16px'>1.1 Some Practical
								Examples</span>
						</a><br>
						<a class='btn btn-light' type='button' href='/lesson/1.2' style=' margin-bottom: 10px'>
							<span style='color: var(--main-green); font-weight: 600; font-size: 16px'>1.2 Deterministic
								Finite
								Automata</span>
						</a><br>
						<a class='btn btn-light' type='button' href='/lesson/1.3' style='margin-bottom: 10px'>
							<span style='color: var(--main-green); font-weight: 600; font-size: 16px'>1.3
								Nondeterministic
								Finite Automata</span>
						</a>
					</div>
				</div>
			</div>
		</div>

		</svg>
	</div>
	{% endblock %}