{% extends 'base.html' %} {% block head %}
<title>Stateful | Practice Questions</title>
{% endblock %} {% block body %}
<!-- Page Content -->
<div id="content" style="text-align: center">

    <h1>Practice Questions</h1>
    <h3 style="color:var(--main-aqua)">DFA Questions</h3>
    {% for probid,description in DFA_probs %}
    <h5><a href="/DFAproblem/{{probid}}">Problem {{ probid }}</a></h5>
    {% endfor %}

    <h3 style="color:var(--main-aqua)">NFA Questions</h3>
    {% for probid,description in NFA_probs %}
    <h5><a href="/NFAproblem/{{probid}}">Problem {{ probid }}</a></h5>
    {% endfor %}

</div>
{% endblock %}