{% extends 'base.html' %} {% block head %}
<title>Stateful | Practice Questions</title>
{% endblock %} {% block body %}
<!-- Page Content -->
<div id="content">

    <h1 style="text-align: center">Practice Questions</h1>
    <h5 style="text-align: center">The following problems are finite state machine design problems. Each one will ask
        you to draw the state diagram that correpsonds to a given language or formal description of a machine. Click on
        a problem below to view the finite state machine editor and answer the question.</h5>
    <br>
    <h3 style="text-align: center; color:var(--main-aqua)">DFA Questions</h3>
    {% for id,desc,diff in DFA_probs %}
    <p><a href="/DFAproblem/{{ id }}" style='font-weight: bold'>Problem {{ id }}
            {% if diff == 0 %}
            <span class="badge badge-pill badge-success">Easy</span>{% endif %} {% if diff == 1 %}
            <span class="badge badge-pill" style='background: #ffbf00;color: white'>Medium</span> {% endif %}
            {% if diff == 2 %}
            <span class="badge badge-pill badge-danger">Hard</span> {% endif %}
        </a>: {{ desc|safe }}</p>

    {% endfor %}

    <br>
    <h3 style="text-align: center; color:var(--main-aqua)">NFA Questions</h3>
    {% for id,desc,diff in NFA_probs %}
    <p><a href="/NFAproblem/{{ id }}" style='font-weight: bold'>Problem {{ id }}
            {% if diff == 0 %}
            <span class="badge badge-pill badge-success">Easy</span>{% endif %} {% if diff == 1 %}
            <span class="badge badge-pill" style='background: #ffbf00;color: white'>Medium</span> {% endif %}
            {% if diff == 2 %}
            <span class="badge badge-pill badge-danger">Hard</span> {% endif %}
        </a>: {{ desc|safe }}</p>
    {% endfor %}

</div>
{% endblock %}