<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a class="sidebar-a" href="/">
                <h2>Stateful</h2>
            </a>
        </div>

        <ul class="list-unstyled components">
            <p class="sidebar-p">Lessons</p>
            <li class="active">
                <a class="sidebar-a" href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Lesson 1</a>
                <ul class="collapse list-unstyled" id="pageSubmenu1">
                    <li>
                        <a class="sidebar-sub" href="#">Page 1</a>
                    </li>
                    <li>
                        <a class="sidebar-sub" href="#">Page 2</a>
                    </li>
                    <li>
                        <a class="sidebar-sub" href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a class="sidebar-a" href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Lesson 2</a>
                <ul class="collapse list-unstyled" id="pageSubmenu2">
                    <li>
                        <a class="sidebar-sub" href="#">Page 1</a>
                    </li>
                    <li>
                        <a class="sidebar-sub" href="#">Page 2</a>
                    </li>
                    <li>
                        <a class="sidebar-sub" href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="sidebar-a" href="/practice">Practice Questions</a>
            </li>
        </ul>

    </nav>
</div>