<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <a class="sidebar-a" href="/">
                <h2>Stateful</h2>
            </a>
        </div>

        <ul class="list-unstyled components">
            <p class="sidebar-p">Dummy Heading</p>
            <li class="active">
                <a class="sidebar-a" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a class="sidebar-a" href="#">Home 1</a>
                    </li>
                    <li>
                        <a class="sidebar-a" href="#">Home 2</a>
                    </li>
                    <li>
                        <a class="sidebar-a" href="#">Home 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="sidebar-a" href="#">About</a>
            </li>
            <li>
                <a class="sidebar-a" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a class="sidebar-a" href="#">Page 1</a>
                    </li>
                    <li>
                        <a class="sidebar-a" href="#">Page 2</a>
                    </li>
                    <li>
                        <a class="sidebar-a" href="#">Page 3</a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="sidebar-a" href="#">Portfolio</a>
            </li>
            <li>
                <a class="sidebar-a" href="#">Contact</a>
            </li>
        </ul>

    </nav>
</div>