<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>
        <div class="sidebar-header">
            <a class="sidebar-a" href="/">
                <h2>Stateful<img src="{{ url_for('static', filename='assets/logo-sm.svg') }}" alt="Figure 1.1"></h2>
            </a>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a class="sidebar-a" href="#pageSubmenu1" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle">Lesson 1: Introduction to Finite Automata</a>
                <ul class="collapse list-unstyled show" id="pageSubmenu1">
                    <li>
                        <a class="sidebar-sub" href="/lesson/1.1">1.1 Some Practical Examples</a>
                    </li>
                    <li>
                        <a class="sidebar-sub" href="/lesson/1.2">1.2 Deterministic Finite Automata</a>
                    </li>
                    <li>
                        <a class="sidebar-sub" href="/lesson/1.3">1.3 Nondeterministic Finite Automata</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a class="sidebar-a" href="#pageSubmenu2" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle">Lesson 2: Notation and Formal Definitions</a>
                <ul class="collapse list-unstyled show" id="pageSubmenu2">
                    <li>
                        <a class="sidebar-sub" href="/lesson/2.1">2.1 Formal Definition of a DFA</a>
                    </li>
                    <li>
                        <a class="sidebar-sub" href="/lesson/2.2">2.2 Formal Definition of an NFA</a>
                    </li>
                    <li>
                        <a class="sidebar-sub" href="/lesson/2.3">2.3 Strings and Languages</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a class="sidebar-a" href="#pageSubmenu3" data-toggle="collapse" aria-expanded="false"
                    class="dropdown-toggle">Practice Problems</a>
                <ul class="collapse list-unstyled show" id="pageSubmenu3">
                    <li>
                        <a class="sidebar-sub" href="/tutorial">FSM Editor Tutorial</a>
                    </li>
                    <li>
                        <a class="sidebar-sub" href="/DFApractice">DFA Practice Problems</a>
                    </li>
                    <li>
                        <a class="sidebar-sub" href="/NFApractice">NFA Practice Problems</a>
                    </li>
                </ul>
            </li>
        </ul>

    </nav>
</div>