{% extends 'base.html' %} {% block head %}
<title>Stateful | Lesson 2.3</title>
{% endblock %} {% block body %}
<!-- Page Content -->
<div id="content">

    {% include 'navbar.html' %}

    <div class='container' style='max-width: 900px; padding: 40px;'>

        <h1 style="color: var(--main-blue); text-align: center">Lesson 2: Notation and Formal Definitions</h1>
        <br>
        <div class='row'>
            <div class='col-sm-auto'>
                <h2 style='color: var(--main-green); padding-bottom: 10px'>2.3</h2>
            </div>
            <div class='col'>
                <h2 style='color: var(--main-green); padding-bottom: 10px'>
                    Strings and Languages
                </h2>
            </div>
            <div class='col-sm-auto'>
                <button style='width: 90px' type='button' type="button" onclick="window.location.href='/lesson/2.2'"
                    class="btn btn-secondary">
                    <i class="fas fa-arrow-circle-left"></i> Prev
                </button>
                <button style='width: 90px' type='button' type="button" href="#" class="btn btn-secondary disabled">Next
                    <i class="fas fa-arrow-circle-right"></i>
                </button>
                <br><br>
            </div>
        </div>
        <p>
            If you have been studying computer science for even a short amount of time, you probably know that strings
            of characters are a fundamental datatype in every programming language. When we discussed finite automata,
            we described them as taking in strings of characters and producing an output that is either ‘ACCEPT’ or
            ‘REJECT.’ Any string that is accepted by a given machine is in the language of the machine. In this lesson,
            we will be learning about how strings and languages are defined formally.
        </p>
        <h3 style='color:var(--main-green); padding-top:18px'>Alphabets (Formally)</h3>
        <p>
            Strings may seem to be really simple objects, but the formal definition used in mathematics and theoretical
            computer science may be less intuitive than the typical way we think about them when programming. Formally,
            strings are defined in terms of their alphabet set.
            An <span class="term">alphabet</span> is any nonempty finite set,
            and its members are called <span class="term">symbols</span> of the alphabet.
            We have already seen examples of alphabets, such as <span class="math-color">\( \{ 0, 1 \} \)</span> or
            <span class="math-color">\( \{ a, b \} \)</span>.
            In these alphabets, each symbol is only one character. But, symbols of an alphabet can technically be
            many characters long. For instance, the very first automaton we saw was the automaton for a light switch.
            Its alphabet was simply one symbol: <span class="math-color">\( \{ \text{PRESS} \} \)</span>.
        </p>
        <p>
            We often abbreviate long alphabets using ellipses (<span class="math-color">\( \dots \)</span>):
            <span class="math-color">$$ \Sigma_1 = \{ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9\} = \{ 0, 1, \dots , 9 \}$$</span>
            <span class="math-color">$$ \Sigma_2 = \{ \text{a}, \text{b}, \text{c}, \text{d}, \text{e}, \text{f},
                \text{g}, \text{h}, \text{i}, \text{j}, \text{k}, \text{l}, \text{m}, \text{n}, \text{o}, \text{p},
                \text{q}, \text{r}, \text{s}, \text{t}, \text{u}, \text{v}, \text{w}, \text{x}, \text{y}, \text{z} \} =
                \{ \text{a}, \text{b}, \dots , \text{z} \}$$</span>
        </p>
        <h3 style='color:var(--main-green); padding-top:18px'>Strings (Formally)</h3>
        <p>
            A <span class="term">string</span> over an alphabet is a finite sequence of symbols from that alphabet,
            usually written next to one
            another and not separated by commas. For example, some strings over <span class="math-color">\( \Sigma_1
                \)</span> are <span class="math-color">\( 30154\)</span>, <span class="math-color">\( 0093588 \)</span>,
            and <span class="math-color">\( 7737784412 \)</span>. <span class="math-color">\( \Sigma_2 \)</span> is the
            alphabet used by all English strings.
        </p>
        <p>
            If <span class="math-color">\( w \)</span> is a string over <span class="math-color">\( \Sigma_1 \)</span>,
            the length of <span class="
                math-color">\( w \)</span>, written <span class="math-color">\( w\)</span>, is the number of symbols
            that it contains. The string <span class="
                math-color">\( w = \text{abracadabra}\)</span> over the alphabet <span class="math-color">\( \Sigma_2
                \)</span> has length <span class=" math-color">\( |w| = 11\)</span>. We introduced <span
                class="math-color">\( \varepsilon \)</span>, the empty string, briefly in other lessons. But now we have
            a better definition for it: it is the string of length <span class="math-color">\( 0 \)</span> over any
            alphabet.
            If <span class="math-color">\( w \)</span> over the alphabet <span class="math-color">\( \Sigma
                \)</span> has length <span class="math-color">\( n \)</span>, we can write <span class="math-color">$$ w
                = w_1w_2 \dots w_n $$</span> where each <span class="math-color">\( w_i \in \Sigma \)</span>. Don't let
            the notation fool you, though. If <span class="math-color">\( n \)</span> is one or zero, then the string
            only has one symbol or zero symbols!
        </p>
        <p>
            If we have string a <span class="math-color">\( x = x_1 x_2 \dots x_n \)</span> of length <span
                class="math-color">\( n \)</span> and string <span class="math-color">\( y = y_1 y_2 \dots x_m \)</span>
            of length <span class="math-color">\( m \)</span>, the concatenation of <span class="math-color">\( x
                \)</span> and <span class="math-color">\( y \)</span>, written <span class="math-color">\( xy \)</span>,
            is the string obtained by appending <span class="math-color">\( y
                \)</span> to the end of <span class="math-color">\( x \)</span>, as in <span class="math-color">\( x_1
                x_2 \dots x_n y_1 y_2 \dots y_m\)</span>.
        </p>
        <h3 style='color:var(--main-green); padding-top:18px'>Languages (Formally)</h3>
        <p>
            Formally, a <span class="term">language</span> is a (possibly infinite) set of strings.
            If we say that <span class="math-color">\( L = \{ \text{abc},
                \text{cab} \} \)</span> is a language, then it is the language containing the strings <span
                class="math-color">\( \text{abc} \)</span> and <span class="math-color">\( \text{cab} \)</span>.
            Defining sets using <span class='term'>set-builder</span>

            form will come in handing when defining languages. In set-builder form, a set is described by a property
            that each of its members must satisfy.
            for instance, writing
            <span class="math-color">$$ S_1 = \{x : x \text{ is a positive number less than 6} \}$$</span>
            has the same meaning as
            <span class="math-color">$$ S_1 = \{ 1, 2, 3, 4, 5\}$$</span>
            and reads as "<span class="math-color">\( S_1 \)</span> is the set of all elements
            <span class="math-color">\( x \)</span> such that <span class="math-color">\( x \)</span> is a
            positive number less than 6." When using set-builder notation, we can also define members
            of a set in terms of another set:
            <span class="math-color">$$ S_2 = \{x \in S_1 : x > 3\}$$</span>
            There are two main components to the meaning of <span class="math-color">\( S_2 \)</span>: first,
            "<span class="math-color">\( x \in S_1 \)</span>" tells the reader to consider an element
            <span class="math-color">\( x \)</span> in <span class="math-color">\( S_1 \)</span>, and
            "<span class="math-color">\( x > 3 \)</span>" tells the reader that <span class="math-color">\( x \)</span>
            must be greater than <span class="math-color">\( 3 \)</span> in order to be a member of the set
            <span class="math-color">\( S_2 \)</span>. In short, this notation tells us that <span class="math-color">\(
                S_2 \)</span> is the set of all elements in
            <span class="math-color">\( S_1 \)</span> that are greater than <span class="math-color">\( 3 \)</span>.
            Considering what we know about <span class="math-color">\( S_1 \)</span>, we can see that
            <span class="math-color">\( S_2 = \{ 4, 5 \} \)</span>.
        </p>
        <p>
            Set-builder notation makes defining sets much more intuitive. Recall that the Cartesian product of two sets
            is the set of all ordered pairs where the first element of the pair is in the first set, and the second
            element is in the second set. We can define the Cartesian product in a more intuitive way using set-builder
            notation:
            <span class="math-color">$$ A \times B = \{ (x,y) : x \in A \text{ and } y \in B \}$$</span>
            We can also define other set operations, such as the <span class=“term”>union</span> of two sets:
            <span class="math-color">$$ A \cup B = \{ x : x \in A \text{ or } x \in B \} $$</span>
            Or the <span class="term">intersection</span> of two sets:
            <span class="math-color">$$ A \cap B = \{ x : x \in A \text{ and } x \in B \} $$</span>
            Set-builder notation comes in handy when defining languages. In particular, we can define useful operations
            on languages, such as the <span class=“term”>star</span> operation on a language <span class="math-color">\(
                L \)</span>:
            <span class="math-color">$$ L^* = \{ x_1x_2 \dots x_k : k \geq 0 \text{ and } x_i \in L \} $$</span>
            The star operator is particularly useful when concisely notating that some string is over a particular
            alphabet, since it can also be applied to alphabets.
            For example, to give a simpler way to express that <span class="math-color">\( w \)</span> is a
            string over the alphabet
            <span class=" math-color">\( \Sigma
                \)</span>, we can say <span class="math-color">\( w \in \Sigma^* \)</span>. This means that <span class="
                math-color">\( w \)</span> is a string of zero or more symbols from the alphabet <span
                class="math-color">\( \Sigma \)</span>.
        </p>
        <p>
            The language <span class="math-color">\( \emptyset \)</span> is the empty language.

            Note that this is very different from <span class="math-color">\( \varepsilon \)</span>, the empty string.
            <span class="math-color">\( \emptyset \)</span> is a language that contains no words/strings, and
            is not itself a string.
        </p>
        <br>
        <h3 style='text-align: center; color: var(--main-aqua)'>Mini Quiz</h3>
        <div id="quiz"></div>
        <div class='row'>
            <div class='col'>
                <button type='button' type="button" class="btn btn-primary" id="submit">Submit Quiz</button>
            </div>
            <div class='col-sm-auto'>
                <button style='width: 90px' type='button' type="button" onclick="window.location.href='/lesson/2.2'"
                    class="btn btn-secondary">
                    <i class="fas fa-arrow-circle-left"></i> Prev
                </button>
                <button style='width: 90px' type='button' type="button" href="#" class="btn btn-secondary disabled">Next
                    <i class="fas fa-arrow-circle-right"></i>
                </button>
            </div>
        </div>
        <div class='br-lg'></div>
        <div id="results"></div>

        <script type='text/javascript'>
            const myQuestions = [{
                    question: "Which of these is the best informal description of the language \\( L = \\{ a, b, c\\}^*\\)?",
                    answers: {
                        a: "The language of all strings containing any number of \\( a \\)'s, \\( b \\)'s, and \\( c \\)'s",
                        b: "The language of all strings containing \\( abc \\) as a substring",
                        c: "The language of all strings containing \\( abc \\) repeated any number of times"
                    },
                    correctAnswer: "a"
                },
                {
                    question: "Which of these is the best informal description of the language <br>\\( L = \\{ w_10w_2 : w_1 \\in \\{ 0,1\\}^* \\text{ and } w_2 \\in \\{0,1\\}^* \\} \\)?",
                    answers: {
                        a: "all strings containing exactly one zero",
                        b: "all strings containing at least one zero",
                        c: "all strings containing at most one zero",
                        d: "all strings of length greater than 1 that contain a zero"
                    },
                    correctAnswer: "b"
                },
                {
                    question: "What is the length of the string \\( \\text{c}^m \\text{d}^n  \\in \\{ c,d\\}^* \\)?",
                    answers: {
                        a: "\\( m * n \\)",
                        b: "\\( 2^m + 2^n \\)",
                        c: "\\( m + n \\)"
                    },
                    correctAnswer: "c"
                }
            ];
        </script>
        <script src="{{ url_for('static', filename='js/mini-quiz.js') }}"></script>

    </div>
</div>
{% endblock %}